* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 107px 0px;
    background-color: #92929239;
}

/* -- profile card -- */
.second-container {
    height: 500px;
    width: 310px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #00000000;
    border-radius: 5px;
    box-shadow: 2px 5px 7px #464a46;
    transition: transform 0.3s ease, box-shadow 0.3s;
}

.second-container:hover{
    box-shadow: 2px 7px 12px #212321;
    transform: translateY(-7px);
}

/* -- image -- */
.card-image img{
    margin-top: -0.1%;
    margin-left: -0.2%;
    border-radius: 5px;
}

/* -- card center data -- */
.card-center {
    height: 92px;
    padding-top: 5px;
    border-bottom: 1px solid #0000002b; 
}

.card-center h2{
    padding: 7px 0;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-center p{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

/* -- social icons -- */
.card-center2 {
    display: flex;
    height: 40px;
    gap: 15px;
    font-size: 19px;
    padding-top: 10px;
    margin-top: 17px;
    align-content: center;
    justify-content: center;
}

.card-center2 a{
    color: black;
}

/* -- bottom of card -- */
.card-bottom {
    height: 37px;
    width: 311px;
    font-size: 23px;
    padding-top: 5px;
    margin-top: 10px;
    margin-left: -0.3%;
    border-radius: 5px;
    background-color: #1f1e1e;
}

.card-bottom a{
    color: #fff;
    text-decoration: none;
}